$important: #ff2d49;
$light: #FDFFFC;
$dark: #2C363F;
$primary: #FF6900;
$details: #CACF85;
$light-gray: #EEEEEE;

// typo


$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;

$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;
$font-size-jumbo: 2.8rem;

$font-family: 'Roboto', sans-serif;

$border-radius: 16px;
// breakpoints

